#navbar {
  width: 25vw;
  background-color: #1D2D50;
  color: white;
  height: 100%;
  padding: 1rem 1.5rem;
}

#navbar ul {
  list-style: none;
}

@media screen and (min-width: 992px) {
  #navbar {
    width: 20vw;

  }
}